/* MODZ CSS - opacity */
.mz-opacity-0 { opacity: 0.0; }
.mz-opacity-5 { opacity: 0.05; }
.mz-opacity-10 { opacity: 0.1; }
.mz-opacity-15 { opacity: 0.15; }
.mz-opacity-20 { opacity: 0.2; }
.mz-opacity-25 { opacity: 0.25; }
.mz-opacity-30 { opacity: 0.3; }
.mz-opacity-35 { opacity: 0.35; }
.mz-opacity-40 { opacity: 0.4; }
.mz-opacity-45 { opacity: 0.45; }
.mz-opacity-50 { opacity: 0.5; }
.mz-opacity-55 { opacity: 0.55; }
.mz-opacity-60 { opacity: 0.6; }
.mz-opacity-65 { opacity: 0.65; }
.mz-opacity-70 { opacity: 0.7; }
.mz-opacity-75 { opacity: 0.75; }
.mz-opacity-80 { opacity: 0.8; }
.mz-opacity-85 { opacity: 0.85; }
.mz-opacity-90 { opacity: 0.9; }
.mz-opacity-95 { opacity: 0.95; }
.mz-opacity-100 { opacity: 1.0; }
