/* MODZ CSS - position utilities */
.mz-static { position: static; }
.mz-relative { position: relative; }
.mz-absolute { position: absolute; }
.mz-fixed { position: fixed; }
.mz-sticky { position: sticky; }
.mz-top-0 { top: 0; }
.mz-top-px { top: 1px; }
.mz-top-xs { top: .25rem; }
.mz-top-sm { top: .5rem; }
.mz-top-md { top: 1rem; }
.mz-top-lg { top: 1.5rem; }
.mz-top-xl { top: 2rem; }
.mz-top-auto { top: auto; }
.mz-bottom-0 { bottom: 0; }
.mz-bottom-px { bottom: 1px; }
.mz-bottom-xs { bottom: .25rem; }
.mz-bottom-sm { bottom: .5rem; }
.mz-bottom-md { bottom: 1rem; }
.mz-bottom-lg { bottom: 1.5rem; }
.mz-bottom-xl { bottom: 2rem; }
.mz-bottom-auto { bottom: auto; }
.mz-left-0 { left: 0; }
.mz-left-px { left: 1px; }
.mz-left-xs { left: .25rem; }
.mz-left-sm { left: .5rem; }
.mz-left-md { left: 1rem; }
.mz-left-lg { left: 1.5rem; }
.mz-left-xl { left: 2rem; }
.mz-left-auto { left: auto; }
.mz-right-0 { right: 0; }
.mz-right-px { right: 1px; }
.mz-right-xs { right: .25rem; }
.mz-right-sm { right: .5rem; }
.mz-right-md { right: 1rem; }
.mz-right-lg { right: 1.5rem; }
.mz-right-xl { right: 2rem; }
.mz-right-auto { right: auto; }
.mz-inset-0 { top: 0; right: 0; bottom: 0; left: 0; }
.mz-inset-px { top: 1px; right: 1px; bottom: 1px; left: 1px; }
.mz-inset-xs { top: .25rem; right: .25rem; bottom: .25rem; left: .25rem; }
.mz-inset-sm { top: .5rem; right: .5rem; bottom: .5rem; left: .5rem; }
.mz-inset-md { top: 1rem; right: 1rem; bottom: 1rem; left: 1rem; }
.mz-inset-lg { top: 1.5rem; right: 1.5rem; bottom: 1.5rem; left: 1.5rem; }
.mz-inset-xl { top: 2rem; right: 2rem; bottom: 2rem; left: 2rem; }
.mz-inset-auto { top: auto; right: auto; bottom: auto; left: auto; }
.mz-z-0 { z-index: 0; }
.mz-z-10 { z-index: 10; }
.mz-z-20 { z-index: 20; }
.mz-z-30 { z-index: 30; }
.mz-z-40 { z-index: 40; }
.mz-z-50 { z-index: 50; }
.mz-z-auto { z-index: auto; }
.mz-z-max { z-index: 2147483647; }
